Repository titom73/titom73.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: type: post, type: page, type: code quality, type: dependencies, type: configuration, type: repo

Revert "Feat(posts): AWX with Ansible EE for AVD (#2)"
  _posts/2022-02-03-Ansible-AWX-EE.md
  assets/img/ansible-awx-ee/awx-create-execution-env.png
  assets/img/ansible-awx-ee/awx-inventory-add-source-configuration.png
  assets/img/ansible-awx-ee/awx-inventory-add-source.png
  assets/img/ansible-awx-ee/awx-inventory-create.png
  assets/img/ansible-awx-ee/awx-list-execution-env.png
  assets/img/ansible-awx-ee/awx-project-add.png
  assets/img/ansible-awx-ee/awx-run.png
  assets/img/ansible-awx-ee/awx-template-add.png
Labels: type: post

Fix(posts): ansible-awx-ee typos
  _posts/2022-02-03-Ansible-AWX-EE.md
Labels: type: post

Make: Implement PR check action
  .github/workflows/pr-checks.yml
  _posts/2022-02-03-Ansible-AWX-EE.md
Labels: type: post, type: code quality

Make: Google Analytics
  _config.yml
Labels: type: repo

Make: move to www.inetsix.net
  CNAME
  _config.yml
Labels: type: repo

Make: Makefile to create post
  Gemfile
  Makefile
Labels: type: dependencies, type: repo

Make: Makefile to create post (#6)
  Gemfile
  Makefile
Labels: type: dependencies, type: repo

Feat(posts): avd-to-containerlab
  _posts/2022-02-04-avd-with-containerlab.md
  assets/img/avd-to-containerlab/avd-example-topo.png
  assets/img/avd-to-containerlab/avd-topo.png
Labels: type: post

Feat(posts): avd-to-containerlab (#7)
  _posts/2022-02-04-avd-with-containerlab.md
  assets/img/avd-to-containerlab/avd-example-topo.png
  assets/img/avd-to-containerlab/avd-topo.png
Labels: type: post

Fix(posts): Add tags to avd-to-containerlab
  _posts/2022-02-04-avd-with-containerlab.md
Labels: type: post

Fix(posts): Add tags to avd-to-containerlab (#8)
  _posts/2022-02-04-avd-with-containerlab.md
Labels: type: post

Feat(posts): eos-download overview (#4)
  _posts/2022-02-06-eos-download.md
  assets/img/eos-download/eve-ng-lab-time.png
  assets/img/eos-download/eve-ng-new-image-no-ztp.png
  assets/img/eos-download/eve-ng-new-image.png
Labels: type: post

Feat(posts): EVE-NG Toolkit overview
  _posts/2022-02-08-eve-ng-toolkit.md
Labels: type: post

Feat(posts): Test your Python network automation
  _posts/2022-02-08-test-your-python-network-automation.md
Labels: type: post

Start(posts): Create post about Pytest & Mock for network testing
  _posts/2022-02-08-test-your-python-network-automation.md
  _posts/2022-02-18-test-your-python-network-automation.md
  assets/img/test-your-python-network-automation/pytest-mocking.png
Labels: type: post

Stop(posts): Create post about Pytest & Mock for network testing
  _posts/2022-02-18-test-your-python-network-automation.md
Labels: type: post

Feat(posts): Test your Python network automation (#10)
  _posts/2022-02-18-test-your-python-network-automation.md
  assets/img/test-your-python-network-automation/pytest-mocking.png
Labels: type: post

Feat(posts): Ansible vault with 1password
  _posts/2022-03-30-Ansible-vault-1password.md
  assets/img/ansible-vault-1password/1password-login.png
Labels: type: post

Feat(posts): Ansible vault with 1password (#11)
  _posts/2022-03-30-Ansible-vault-1password.md
  assets/img/ansible-vault-1password/1password-login.png
Labels: type: post

.github/labeler.yml:

"type: post":
  - _posts/**/*
  - _posts/*

"type: page":
  - _tabs/**/*
  - _tabs/*

"type: code quality":
  - .github/labeler.yml
  - .github/*
  - .github/**/*

"type: dependencies":
  - Gemfile

"type: configuration":
  - _config.yaml

"type: repo":
- '*'
